{% extends 'base.html' %}
{% block content %}

<h2>Movie Profile:</h2>

<h3>Movie </h3>
<ul>    
    <li>Title: {{ movie.title }}</li>
    <li>Released at: {{ movie.released_at.date() }}</li>
    <li>IMDB: <a href="{{movie.imdb_url}}">click here</a></li>
    <li>ID: {{ movie.movie_id }}</li>
</ul>

{% if 'user_id' in session %}

<h3>Please rate this movie</h3>
<ul>
    <form action="/rate-movie/{{movie.movie_id}}" method="POST">
    <input type="radio" value="1" name="rating">1
    <input type="radio" value="2" name="rating">2
    <input type="radio" value="3" name="rating">3
    <input type="radio" value="4" name="rating">4
    <input type="radio" value="5" name="rating">5<br>
    <input type="submit" name="submit">
    </form>
</ul>

{% else %}
<h3><a href="/login">Log in</a> to rate this movie</h3>

{% endif %}

<h3> User email, Score</h3>
<ul>
    {% for user in user_ratings %}
    <li>{{ user[0] }}, {{ user[1] }}</li>
    {% endfor %}
</ul>



{% endblock %}